{% extends 'base.html.twig' %}
{% block main %}
    <table action="{{ path('homepage') }}" style="width:30%"  border="1">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Promotion</th>
            <th>Add</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.getActivePromotion %}
                    {{product.getActivePromotion.quantity}} for {{ product.getActivePromotion.price }}
                    {% endif %}
                </td>
                <td>
                    <button class="add-another-collection-widget"
                            type="button"
                            data-list-selector="#item-fields-list"
                            data-item="{{ product | json_encode }}">Add</button>
                    <a href="{{ path('edit_product', {id: product.id}) }}">
                        Edit
                    </a>
                    <a href="{{ path('delete_product', {id: product.id}) }}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form>
        <div id="items"></div>
        <button id="make_order" type="button">Buy</button>
    </form>
    <div id="bill">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    // add-collection-widget.js
    jQuery(document).ready(function () {
        var selectedProducts = [];
        jQuery('.add-another-collection-widget').click(function (e) {
        var product = JSON.parse(jQuery(this).attr('data-item'));
        selectedProducts.push(product);
        jQuery( "#items" ).append( `<p>${product.name}</p>` );
        });
        jQuery('#make_order').click(function (e) {
            var params = { myarray: selectedProducts };

            var paramJSON = JSON.stringify(params);
            jQuery.ajax({
                type: "POST",
                url: "{{ path('make_order') }}",
                data: { data: paramJSON },
                dataType: "json",
                success: function (response) {
                    var result = JSON.parse(response.data);
                    result.items.forEach(item => {
                        jQuery( "#bill" ).append( `<p>Bought ${item.quantity} ${item.product.name}</p>` );
                    });
                    jQuery( "#bill" ).append( `<p>Total: ${result.totalPrice}</p>` );
                },
            })
        })
    });
    </script>
{% endblock %}
