{% extends 'base.html.twig' %}
{% block main %}
    {{ form_start(form, {'action': path('edit_product', {id: product.id}), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.price) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
